<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Crawlers / Home</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="search" href="/opensearch.xml" type="application/opensearchdescription+xml" title="Crawlers">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="color: #fff !important;font-family: Lato, Roboto,Helvetica,Arial,sans-serif;background: #282b30;">
    <nav class="navbar navbar-light navbar-expand-md" style="background: #36393e;box-shadow: 2px 2px 20px rgb(0 0 0 / 10%);min-height: 56px;">
        <div class="container-fluid"><a class="navbar-brand" href="/" style="color: rgb(255,255,255);">Crawlers</a></div>
    </nav>
    <div style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);text-align: center;">
        <h1 data-bss-hover-animate="tada" style="font-family: Poppins, sans-serif;margin: 0px;margin-right: 100px;margin-left: 100px;">Crawlers</h1>
        <p data-bss-hover-animate="pulse" style="font-family: Lato, sans-serif;opacity: 50;">Search with Privacy.</p>
        <div class="form-group pulse animated">
            <form style="display: flex;" id='form'><input class="form-control" type="text" id='search' autocomplete="off" placeholder="Search Query" style="padding: 10px;padding-left: 20px;background: #36393e;color: rgb(238,238,238);"><button class="btn btn-primary" type="button" id='search_btn' style="border-color: rgb(0, 150, 136);border-top-color: rgb(0,;border-right-color: 150,;border-bottom-color: 136);border-left-color: 150,;margin-bottom: 0px;background: #36393e;"><i class="fa fa-search"></i></button></form>
        </div>
    </div>
    <a style='padding-bottom: 16px;padding-left: 16px;position:fixed;bottom:0;left:0;' href='https://github.com/directlycrazy/Crawlers'><strong>Crawlers by directlycrazy</strong></a>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src='/assets/js/search.js'></script>
    <script defer src='/assets/js/autocomplete.js'></script>
</body>

</html>