<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Crawlers / <%= query %></title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="search" href="/opensearch.xml" type="application/opensearchdescription+xml" title="Crawlers">
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/fonts/fonts.css">
    <style id='custom_css_element'></style>
</head>

<body class='color-darker' style="font-family: Lato, Roboto,Helvetica,Arial,sans-serif;">
    <nav class="navbar navbar-light color-dark navbar-expand-md" style="box-shadow: 2px 2px 20px rgb(0 0 0 / 10%);min-height: 56px;">
        <div class="container-fluid"><a class="navbar-brand" href="/">Crawlers</a></div>
    </nav>
    <div style="display: flex;padding-top: 100px;padding-left: 56px;padding-right: 56px;">
        <div class="form-group" style="width: 600px;">
            <form style="display: flex;" id='form'><input class="form-control color-dark" type="text" value='<%= query %>' id='search' autocomplete="off" placeholder="Search Query" style="padding: 10px;padding-left: 20px;"><button class="btn btn-primary color-dark" type="button" id='search_btn' style="margin-bottom: 0px;"><i class="fa fa-search"></i></button></form>
            <div class='color-dark' style='width: 100%; box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);'>
                <a class='btn' style='margin-left: 5px;' id='nav_all'>All</a>
                <a class='btn' id='nav_images'>Images</a>
                <a class='btn' id='nav_maps'>Maps</a>
            </div>
        </div>
    </div>
    <div style="padding-left: 56px;padding-right: 56px;margin-bottom: 15px;" id='instant'></div>
    <div id='results'></div>
    <div id="load_more_results" class="btn btn-outline-primary" style="margin-right: 56px;margin-left: 55px;max-width: 600px;padding: 16px;margin-bottom: 16px;display:flex;visibility:hidden;"><span style='width: 600px;'>LOAD MORE</span></div>
    <i class="fa fa-cog" aria-hidden="true" style='position:absolute;right:0;top:0;margin-top:56px;padding:16px;opacity:0.5;cursor:pointer;' id='settings'></i>
    <div class="modal fade" role="dialog" tabindex="-1" id="settings_modal" aria-modal="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content color-dark">
                <div class="modal-header">
                    <h4 class="modal-title">Settings</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <form style="margin-bottom: 0px;" id="settings_form"></form>
                </div>
            </div>
        </div>
    </div>
    <br />
    <a style='padding-bottom: 16px;padding-left: 16px;' href='https://github.com/directlycrazy/Crawlers' target='_blank' id='credit'>Crawlers Build (???????)</a>
    <!-- custom themes -->
    <script>
        document.querySelector('#custom_css_element').innerHTML += localStorage.getItem('custom_css') ? localStorage.getItem('custom_css') : `:root {\n--dark: #36393e;\n--darker: #282b30;\n--text: #fff;\n--accent: #009688;\ncolor-scheme: dark;\n}`
    </script>
    <script src='/assets/js/math.js'></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script defer src='/assets/js/s1.js'></script>
</body>

</html>