.navbar {
  position: fixed;
  width: 100%;
}

body {
}

#form{
  margin-bottom: 0 !important;
}

#autofill-item{
  cursor: pointer;
  margin-bottom: 0 !important;
  padding: 5px;
  padding-left: 15px;
}