.navbar {
  position: fixed;
  width: 100%;
}

:root {
  color-scheme: dark;
}

@media only screen and (max-width: 600px) {
  .knowledge_image {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
    float: none !important;
    margin-bottom: 15px;
  }
}

.result:hover{
  background-color: #36393e;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

#form{
  margin-bottom: 0 !important;
}

#autofill-item{
  cursor: pointer;
  margin-bottom: 0 !important;
  padding: 5px;
  padding-left: 15px;
}

code{ 
  color: rgb(108, 117, 125) !important;
}

.topic{
  padding: 15px;
}