.navbar {
  position: fixed;
  width: 100%;
}

.close{
  color: #fff;
}

.close:hover{
  color: #f0f0f0;
}

.close:active{
  color: #f0f0f0;
}

.color-dark{
	background: var(--dark) !important;
	color: var(--text) !important;
}

.color-darker{
	background: var(--darker) !important;
	color: var(--text) !important;
}

.result:hover{
  background-color: var(--dark);
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.btn-outline-primary{
	border-color: var(--accent) !important;
}

#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid var(--dark);
  border-radius: 50%;
  border-top-color:  var(--text);
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

button{
	color: var(--text) !important;
}

h1{
	color: var(--text) !important;
}

h4{
	color: var(--text) !important;
}

a{
	color: var(--text) !important;
}

.accent{
	color: var(--accent) !important;
}

p{
	color: var(--text) !important;
}

i{
	color: var(--text) !important;
}

@media only screen and (max-width: 600px) {
  .knowledge_image {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
    float: none !important;
    margin-bottom: 15px;
  }
}

#form{
  margin-bottom: 0 !important;
}

#autofill-item{
  cursor: pointer;
  margin-bottom: 0 !important;
  padding: 5px;
  padding-left: 15px;
}

code{ 
  opacity: 0.5;
  color: var(--text) !important;
}

.topic{
  padding: 15px;
}